@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3 style="margin-left: 250px">@Html.Label("Moview Cinema") <span>@Html.Label("Website")</span></h3>
                <div class="address"><br><br>
                  <h4> @Html.Label("Developed By:")</h4>
                    <h4 style="margin-left: 100px">@Html.Label("Syed Haider Ali")</h4>
                    <h4 style="margin-left: 100px">@Html.Label("BCSF12A038") </h4> 
                </div>
              </div>
            </div>
          </div>
        </div>

<br><br><br><br><br><br><br><br><br><br>